In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('detalhe_votacao_secao_2016_BRASIL.csv', encoding='ISO-8859-1', sep=';')
df

        NR_TURNO SG_UF  SG_UE  DS_CARGO  QT_VOTOS_NOMINAIS  QT_VOTOS_LEGENDA
0              1    AC   1120  Prefeito                175                 0
1              1    AC   1120  Vereador                152                22
2              1    AC   1120  Prefeito                168                 0
3              1    AC   1120  Vereador                156                19
4              1    AC   1120  Prefeito                215                 0
...          ...   ...    ...       ...                ...               ...
956450         2    SP  70750  Prefeito                268                 0
956451         2    SP  70750  Prefeito                221                 0
956452         2    SP  70750  Prefeito                137                 0
956453         2    SP  70750  Prefeito                107                 0
956454         2    SP  70750  Prefeito                 41                 0

[956455 rows x 6 columns]

In [5]:
#linhas - len(df
len(df)

956455

In [6]:
#linhas - len(df.index)
len(df.index)

956455

In [7]:
#linhas - df.shape[0]
df.shape

(956455, 6)

In [9]:
#Para saber o número de linhas
df.shape[0]

956455

In [11]:
#linhas - df.count().iloc[0]
df.count()

NR_TURNO             956455
SG_UF                956455
SG_UE                956455
DS_CARGO             956455
QT_VOTOS_NOMINAIS    956455
QT_VOTOS_LEGENDA     956455
dtype: int64

In [12]:
#linhas - df.count().iloc[0]
df.count().iloc[0]

956455

In [13]:
#colunas - df.shape[1]
df.shape

(956455, 6)

In [18]:
#Sabendo o numero de linhas
df.shape[0]

956455

In [19]:
#Sabendo o numero de colunas
df.shape[1]

6

In [15]:
l, c = df.shape

In [16]:
l

956455

In [17]:
c

6

In [21]:
len(df.columns)

6