In [1]:
import pandas as pd

In [2]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [12]:
df = pd.DataFrame(data=[5], index=['a'], columns=['col1'], dtype=(str))
df

  col1
a    5

In [13]:
#object
df.dtypes

col1    object
dtype: object

In [17]:
dff = pd.DataFrame(data=[5], index=['a'], columns=['col1'])
dff

   col1
a     5

In [18]:
#int64
dff.dtypes

col1    int64
dtype: object

In [26]:
#Podemos passar com ou sem INDEX
dff = pd.DataFrame(data=[[5],
                        [4],
                        [3]], index=['a', 'b', 'c'], columns=['col1'])
dff

   col1
a     5
b     4
c     3

In [25]:
dff = pd.DataFrame(data=[[5],
                        [4],
                        [3]], columns=['col1'])
dff

   col1
0     5
1     4
2     3

In [27]:
dff = pd.DataFrame(data=[[5, 'a'],
                        [4, 'b'],
                        [3, 'c']], columns=['col1', 'col2'])
dff

   col1 col2
0     5    a
1     4    b
2     3    c

In [28]:
dff = pd.DataFrame(data=[[5, 'a'],
                        [4, 'b'],
                        [3, 'c']])
dff

   0  1
0  5  a
1  4  b
2  3  c

In [31]:
dic = pd.DataFrame(data={'col1': [1,2,3],
                        'col2': ['a', 'b', 'c']})
dic

   col1 col2
0     1    a
1     2    b
2     3    c

In [33]:
#Criando colunas como Ã­ndices
dic = pd.DataFrame.from_dict(data={'col1': [1,2,3],
                        'col2': ['a', 'b', 'c']},
                            orient='index')
dic

      0  1  2
col1  1  2  3
col2  a  b  c