In [20]:
import pandas as pd
import pandas.tseries.offsets as ts

In [4]:
pd.set_option('display.max_rows', None)

df = pd.read_excel('vendas_qtd.xlsx')
df

          Data  Vendas Quantidade
0   2015-01-01                 51
1   2015-01-02                 54
2   2015-01-03                 18
3   2015-01-04                 19
4   2015-01-05                 57
5   2015-01-06                 58
6   2015-01-07                 53
7   2015-01-08                 59
8   2015-01-09                 58
9   2015-01-10                 14
10  2015-01-11                 17
11  2015-01-12                 55
12  2015-01-13                 56
13  2015-01-14                 57
14  2015-01-15                 58
15  2015-01-16                 59
16  2015-01-17                 60
17  2015-01-18                 61
18  2015-01-19                 62
19  2015-01-20                 63
20  2015-01-21                 64
21  2015-01-22                 65
22  2015-01-23                 66
23  2015-01-24                 67
24  2015-01-25                 68
25  2015-01-26                 69
26  2015-01-27                 70
27  2015-01-28                 71
28  2015-01-29                 72
29  2015-01-30                 73
30  2015-01-31                 74
31  2015-02-01                 75
32  2015-02-02                 76
33  2015-02-03                 77
34  2015-02-04                 78
35  2015-02-05                 79
36  2015-02-06                 80
37  2015-02-07                 81
38  2015-02-08                 82
39  2015-02-09                 83
40  2015-02-10                 84
41  2015-02-11                 85
42  2015-02-12                 86
43  2015-02-13                 87
44  2015-02-14                 88
45  2015-02-15                 89
46  2015-02-16                 90
47  2015-02-17                 91
48  2015-02-18                 92
49  2015-02-19                 93
50  2015-02-20                 94
51  2015-02-21                 95
52  2015-02-22                 96
53  2015-02-23                 97
54  2015-02-24                 98
55  2015-02-25                 99
56  2015-02-26                100
57  2015-02-27                101
58  2015-02-28                102
59  2015-03-01                103
60  2015-03-02                104
61  2015-03-03                105
62  2015-03-04                106
63  2015-03-05                107
64  2015-03-06                108
65  2015-03-07                109
66  2015-03-08                110
67  2015-03-09                111
68  2015-03-10                112
69  2015-03-11                113
70  2015-03-12                114
71  2015-03-13                115
72  2015-03-14                116
73  2015-03-15                117
74  2015-03-16                118
75  2015-03-17                119
76  2015-03-18                120
77  2015-03-19                121
78  2015-03-20                122
79  2015-03-21                123
80  2015-03-22                124
81  2015-03-23                125
82  2015-03-24                126
83  2015-03-25                127
84  2015-03-26                128
85  2015-03-27                129
86  2015-03-28                130
87  2015-03-29                131
88  2015-03-30                132
89  2015-03-31                133
90  2015-04-01                134
91  2015-04-02                135
92  2015-04-03                136
93  2015-04-04                137
94  2015-04-05                138
95  2015-04-06                139
96  2015-04-07                140
97  2015-04-08                141
98  2015-04-09                142
99  2015-04-10                143
100 2015-04-11                144
101 2015-04-12                145
102 2015-04-13                146
103 2015-04-14                147
104 2015-04-15                148
105 2015-04-16                149
106 2015-04-17                150
107 2015-04-18                151
108 2015-04-19                152
109 2015-04-20                153

In [7]:
#Acrescentando dias
pd.to_datetime('today') + pd.DateOffset(days=1)

Timestamp('2021-10-25 11:32:26.503393')

In [8]:
pd.to_datetime('today') + pd.DateOffset(days=2)

Timestamp('2021-10-26 11:32:34.537581')

In [9]:
#Acrescentando segundos, horas, semanas, meses, anos
pd.to_datetime('today') + pd.DateOffset(weeks=1)

Timestamp('2021-10-31 11:33:08.259860')

In [14]:
pd.to_datetime('today') + pd.DateOffset(months=1)

Timestamp('2021-11-24 11:33:59.002670')

In [16]:
pd.to_datetime('today') + pd.DateOffset(years=1)

Timestamp('2022-10-24 11:34:14.487857')

In [18]:
pd.to_datetime('today') + pd.DateOffset(hours=1)

Timestamp('2021-10-24 12:35:00.903230')

In [21]:
#Função para Sequências Temporais
ts.Week()

In [22]:
pd.to_datetime('today') + ts.Week()

Timestamp('2021-10-31 11:36:22.467137')

In [23]:
pd.to_datetime('today') + ts.Day()

Timestamp('2021-10-25 11:36:36.029924')

In [24]:
#Somando dias ÚTEIS
ts.BDay()

In [26]:
pd.to_datetime('today') + ts.BDay()

Timestamp('2021-10-25 11:37:49.336480')

Timestamp('2021-07-12 00:00:00')

In [28]:
#Último e primeiro dia útil do mês, trimestre e ano
pd.to_datetime('2021-07-09') + ts.MonthEnd()

Timestamp('2021-07-31 00:00:00')

In [29]:
pd.to_datetime('2021-07-09') + ts.BMonthEnd() #Dia útil

Timestamp('2021-07-30 00:00:00')

In [32]:
pd.to_datetime('2021-10-24') + ts.MonthBegin()

Timestamp('2021-11-01 00:00:00')

In [33]:
pd.to_datetime('2021-10-24') + ts.SemiMonthBegin() #Inicio Meio do Mês

Timestamp('2021-11-01 00:00:00')

In [35]:
pd.to_datetime('2021-07-09') + ts.QuarterBegin() #inicio Trimestre

Timestamp('2021-09-01 00:00:00')

In [36]:
#Aplicando em um dataframe transformando em dias úteis
df['Data'] + ts.BDay()

0     2015-01-02
1     2015-01-05
2     2015-01-05
3     2015-01-05
4     2015-01-06
5     2015-01-07
6     2015-01-08
7     2015-01-09
8     2015-01-12
9     2015-01-12
10    2015-01-12
11    2015-01-13
12    2015-01-14
13    2015-01-15
14    2015-01-16
15    2015-01-19
16    2015-01-19
17    2015-01-19
18    2015-01-20
19    2015-01-21
20    2015-01-22
21    2015-01-23
22    2015-01-26
23    2015-01-26
24    2015-01-26
25    2015-01-27
26    2015-01-28
27    2015-01-29
28    2015-01-30
29    2015-02-02
30    2015-02-02
31    2015-02-02
32    2015-02-03
33    2015-02-04
34    2015-02-05
35    2015-02-06
36    2015-02-09
37    2015-02-09
38    2015-02-09
39    2015-02-10
40    2015-02-11
41    2015-02-12
42    2015-02-13
43    2015-02-16
44    2015-02-16
45    2015-02-16
46    2015-02-17
47    2015-02-18
48    2015-02-19
49    2015-02-20
50    2015-02-23
51    2015-02-23
52    2015-02-23
53    2015-02-24
54    2015-02-25
55    2015-02-26
56    2015-02-27
57    2015-03-02
58    2015-03-02
59    2015-03-02
60    2015-03-03
61    2015-03-04
62    2015-03-05
63    2015-03-06
64    2015-03-09
65    2015-03-09
66    2015-03-09
67    2015-03-10
68    2015-03-11
69    2015-03-12
70    2015-03-13
71    2015-03-16
72    2015-03-16
73    2015-03-16
74    2015-03-17
75    2015-03-18
76    2015-03-19
77    2015-03-20
78    2015-03-23
79    2015-03-23
80    2015-03-23
81    2015-03-24
82    2015-03-25
83    2015-03-26
84    2015-03-27
85    2015-03-30
86    2015-03-30
87    2015-03-30
88    2015-03-31
89    2015-04-01
90    2015-04-02
91    2015-04-03
92    2015-04-06
93    2015-04-06
94    2015-04-06
95    2015-04-07
96    2015-04-08
97    2015-04-09
98    2015-04-10
99    2015-04-13
100   2015-04-13
101   2015-04-13
102   2015-04-14
103   2015-04-15
104   2015-04-16
105   2015-04-17
106   2015-04-20
107   2015-04-20
108   2015-04-20
109   2015-04-21
Name: Data, dtype: datetime64[ns]