In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([
    [1, 2, True, 1.2],
    ['a', 2, False, 1.4],
    ['v', 3, True, 1.6],
    [True, 3, False, 1.8],
    [3.5, 4, True, 2.0]
], columns=['col1', 'col2', 'col3', 'col4'])
df

   col1  col2   col3  col4
0     1     2   True   1.2
1     a     2  False   1.4
2     v     3   True   1.6
3  True     3  False   1.8
4   3.5     4   True   2.0

In [3]:
#Filtrando colunas
df.dtypes

col1     object
col2      int64
col3       bool
col4    float64
dtype: object

In [5]:
df.select_dtypes(include=['int64'])

   col2
0     2
1     2
2     3
3     3
4     4

In [6]:
df.select_dtypes(include=['object'])

   col1
0     1
1     a
2     v
3  True
4   3.5

In [7]:
df.select_dtypes(include=['int64', 'bool'])

   col2   col3
0     2   True
1     2  False
2     3   True
3     3  False
4     4   True

In [8]:
df.select_dtypes(exclude=['int64', 'bool'])

   col1  col4
0     1   1.2
1     a   1.4
2     v   1.6
3  True   1.8
4   3.5   2.0

In [9]:
#Filtrando linhas
df[df['col1'].apply(lambda x: isinstance(x, bool))]

   col1  col2   col3  col4
3  True     3  False   1.8

In [10]:
df[df['col1'].apply(lambda x: isinstance(x, str))]

  col1  col2   col3  col4
1    a     2  False   1.4
2    v     3   True   1.6

In [11]:
df[df['col1'].apply(lambda x: isinstance(x, int))]

   col1  col2   col3  col4
0     1     2   True   1.2
3  True     3  False   1.8

In [12]:
df[df['col1'].apply(lambda x: isinstance(x, float))]

  col1  col2  col3  col4
4  3.5     4  True   2.0