In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([
    [1, 2, True, 1.2],
    ['a', 2, False, 1.4],
    ['v', 3, True, 1.6],
    [True, 3, False, 1.8],
    [3.5, 4, True, 2.0]
], columns=['col1', 'col2', 'col3', 'col4'])
df

   col1  col2   col3  col4
0     1     2   True   1.2
1     a     2  False   1.4
2     v     3   True   1.6
3  True     3  False   1.8
4   3.5     4   True   2.0

In [6]:
#Entendendo a query
df.query('col2 == 2')

  col1  col2   col3  col4
0    1     2   True   1.2
1    a     2  False   1.4

In [7]:
df.query('col2 == 2 & col3 ==True')

  col1  col2  col3  col4
0    1     2  True   1.2

In [8]:
df.query('col2 == 2 & col3 ==False')

  col1  col2   col3  col4
1    a     2  False   1.4

In [9]:
#@ se refere a uma variavel que j√° foi atribuida
a = 2
df.query('col2 == @a & col3 == False')

  col1  col2   col3  col4
1    a     2  False   1.4

In [10]:
a = 3
df.query('col2 == @a & col3 == False')

   col1  col2   col3  col4
3  True     3  False   1.8

In [11]:
df.query('4 > col2 > 2')

   col1  col2   col3  col4
2     v     3   True   1.6
3  True     3  False   1.8

In [12]:
#Usando o loc
df[(df['col2'] < 4) & (df['col2'] > 2)]

   col1  col2   col3  col4
2     v     3   True   1.6
3  True     3  False   1.8

In [13]:
df.query('col1 == 1')

   col1  col2   col3  col4
0     1     2   True   1.2
3  True     3  False   1.8

In [15]:
df.query('col1 == "a"')

  col1  col2   col3  col4
1    a     2  False   1.4