In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('pasta2.xlsx')
df

         Data  Vendas Quantidade
0  2015-01-01                 51
1  2015-01-02                 54
2  2015-01-03                 18
3  2015-01-04                 19
4  2015-01-05                 57
5  2015-01-06                 58
6  2015-01-07                 53
7  2015-01-08                 59
8  2015-01-09                 58
9  2015-01-10                 14
10 2015-01-11                 17
11 2015-01-12                 55
12 2015-01-13                 56
13 2015-01-14                 57
14 2015-01-15                 58

In [6]:
#Dia, semana, mês, ano
df['Data'].dt

In [7]:
df['Data'].dt.day

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
Name: Data, dtype: int64

In [8]:
df['Data'].dt.month

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
Name: Data, dtype: int64

In [9]:
df['Data'].dt.year

0     2015
1     2015
2     2015
3     2015
4     2015
5     2015
6     2015
7     2015
8     2015
9     2015
10    2015
11    2015
12    2015
13    2015
14    2015
Name: Data, dtype: int64

In [10]:
df['Data'].dt.hour

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: Data, dtype: int64

In [12]:
df['Data'].dt.second

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: Data, dtype: int64

In [13]:
df['Data'].dt.week

<ipython-input-13-f765704f59c4>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['Data'].dt.week

0     1
1     1
2     1
3     1
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    3
12    3
13    3
14    3
Name: Data, dtype: int64

In [14]:
df['Data'].dt.weekday

0     3
1     4
2     5
3     6
4     0
5     1
6     2
7     3
8     4
9     5
10    6
11    0
12    1
13    2
14    3
Name: Data, dtype: int64

In [15]:
df['Data'].dt.day_name()

0      Thursday
1        Friday
2      Saturday
3        Sunday
4        Monday
5       Tuesday
6     Wednesday
7      Thursday
8        Friday
9      Saturday
10       Sunday
11       Monday
12      Tuesday
13    Wednesday
14     Thursday
Name: Data, dtype: object

In [16]:
dias_ptbr = {
    'Sunday' : 'Domingo',
    'Monday' : 'Segunda-Feira',
    'Tuesday' : 'Terça-Feira',
    'Wednesday' : 'Quarta-Feira',
    'Thursday' : 'Quinta-Feira',
    'Friday' : 'Sexta-Feira',
    'Saturday' : 'Sábado'}

In [17]:
df['Data'].dt.day_name().replace(dias_ptbr)

0      Quinta-Feira
1       Sexta-Feira
2            Sábado
3           Domingo
4     Segunda-Feira
5       Terça-Feira
6      Quarta-Feira
7      Quinta-Feira
8       Sexta-Feira
9            Sábado
10          Domingo
11    Segunda-Feira
12      Terça-Feira
13     Quarta-Feira
14     Quinta-Feira
Name: Data, dtype: object

In [18]:
meses_ptbr = {'January':'Janeiro', 
              'February':'Fevereiro', 
              'March':'Março',
              'April':'Abril',
              'May':'Maio',
              'June':'Junho',
              'July':'Julho',
              'August':'Agosto',
              'September':'Setembro',
              'October':'Outubro',
              'November':'Novembro',
              'December':'Dezembro'}

In [19]:
df['Data'].dt.month_name().replace(meses_ptbr)

0     Janeiro
1     Janeiro
2     Janeiro
3     Janeiro
4     Janeiro
5     Janeiro
6     Janeiro
7     Janeiro
8     Janeiro
9     Janeiro
10    Janeiro
11    Janeiro
12    Janeiro
13    Janeiro
14    Janeiro
Name: Data, dtype: object

In [20]:
#Dia do ano e dia de hoje
df['Data'].dt.dayofyear

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
Name: Data, dtype: int64

In [26]:
s = pd.Series(pd.to_datetime('today'))
s

0   2021-10-24 10:52:57.491397
dtype: datetime64[ns]

In [24]:
s.dt.dayofyear / 365

0    0.813699
dtype: float64

In [27]:
#Trimestre
df['Data'].dt.quarter

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
Name: Data, dtype: int64

In [28]:
s.dt.quarter

0    4
dtype: int64

In [29]:
#Arredondar horas e dias
s = pd.Series(pd.to_datetime('today'))
s

0   2021-10-24 10:53:41.849535
dtype: datetime64[ns]

In [30]:
s.dt.round(freq='s')

0   2021-10-24 10:53:42
dtype: datetime64[ns]

In [31]:
s.dt.round(freq='min')

0   2021-10-24 10:54:00
dtype: datetime64[ns]

In [32]:
s.dt.round(freq='h')

0   2021-10-24 11:00:00
dtype: datetime64[ns]

In [33]:
s.dt.round(freq='d')

0   2021-10-24
dtype: datetime64[ns]

In [34]:
#Arredondar para cima
s.dt.ceil(freq='d')

0   2021-10-25
dtype: datetime64[ns]

In [35]:
#Arredondar para baixo
s.dt.floor(freq='d')

0   2021-10-24
dtype: datetime64[ns]