In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('detalhe_votacao_secao_2016_BRASIL.csv', encoding='ISO-8859-1', sep=';')
df

        NR_TURNO SG_UF  SG_UE  DS_CARGO  QT_VOTOS_NOMINAIS  QT_VOTOS_LEGENDA
0              1    AC   1120  Prefeito                175                 0
1              1    AC   1120  Vereador                152                22
2              1    AC   1120  Prefeito                168                 0
3              1    AC   1120  Vereador                156                19
4              1    AC   1120  Prefeito                215                 0
...          ...   ...    ...       ...                ...               ...
956450         2    SP  70750  Prefeito                268                 0
956451         2    SP  70750  Prefeito                221                 0
956452         2    SP  70750  Prefeito                137                 0
956453         2    SP  70750  Prefeito                107                 0
956454         2    SP  70750  Prefeito                 41                 0

[956455 rows x 6 columns]

In [4]:
#Aplicando uma função na series
df['QT_VOTOS_LEGENDA'].map(np.square)

0           0
1         484
2           0
3         361
4           0
         ...
956450      0
956451      0
956452      0
956453      0
956454      0
Name: QT_VOTOS_LEGENDA, Length: 956455, dtype: int64

In [5]:
#Adicionando informações nos valores da series
df['DS_CARGO'].map('cargo : {}'.format)

0         cargo : Prefeito
1         cargo : Vereador
2         cargo : Prefeito
3         cargo : Vereador
4         cargo : Prefeito
                ...
956450    cargo : Prefeito
956451    cargo : Prefeito
956452    cargo : Prefeito
956453    cargo : Prefeito
956454    cargo : Prefeito
Name: DS_CARGO, Length: 956455, dtype: object

In [6]:
#Substituíndo valores
df['DS_CARGO'].map({'Prefeito' : 'teste'})

0         teste
1           NaN
2         teste
3           NaN
4         teste
          ...
956450    teste
956451    teste
956452    teste
956453    teste
956454    teste
Name: DS_CARGO, Length: 956455, dtype: object

In [7]:
df['DS_CARGO'].map({'Prefeito' : 'teste', 'Vereador': 'oi'})

0         teste
1            oi
2         teste
3            oi
4         teste
          ...
956450    teste
956451    teste
956452    teste
956453    teste
956454    teste
Name: DS_CARGO, Length: 956455, dtype: object