In [1]:
import pandas as pd

In [2]:
dados = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
df = pd.DataFrame(dados,
                 index=['lin1', 'lin2', 'lin3', 'lin4'],
                 columns=['col1', 'col2', 'col3'])
df

      col1  col2  col3
lin1     1     2     3
lin2     4     5     6
lin3     7     8     9
lin4    10    11    12

In [ ]:
# df.loc = Series
# df.loc[[]] = DataFrame

In [3]:
#Função loc filtra a partir do indice
df.loc['lin1']

col1    1
col2    2
col3    3
Name: lin1, dtype: int64

In [4]:
#Retornando em df
df.loc[['lin1']]

      col1  col2  col3
lin1     1     2     3

In [5]:
#Filtrando mais de uma linha
df.loc[['lin1', 'lin3']]

      col1  col2  col3
lin1     1     2     3
lin3     7     8     9

In [6]:
#Função iloc filtra a partir da posição da linha do DF
df.iloc[[0, 2]]

      col1  col2  col3
lin1     1     2     3
lin3     7     8     9

In [8]:
#Filtrando o DF
df.iloc[0:3]

      col1  col2  col3
lin1     1     2     3
lin2     4     5     6
lin3     7     8     9

In [9]:
#Filtrando o DF ñ precisamos acrescentar o 0
df.iloc[:3]

      col1  col2  col3
lin1     1     2     3
lin2     4     5     6
lin3     7     8     9

In [11]:
df.loc['lin1':'lin3']

      col1  col2  col3
lin1     1     2     3
lin2     4     5     6
lin3     7     8     9

In [12]:
#Fazendo um filtro com condição
df.loc[df['col1'] > 2]

      col1  col2  col3
lin2     4     5     6
lin3     7     8     9
lin4    10    11    12

In [17]:
#Fazendo um filtro com condição
#ou é representado pela barra vertical |
# & = ou
df.loc[(df['col1'] > 2) & (df['col1'] < 5)]

      col1  col2  col3
lin2     4     5     6

In [18]:
#Substituindo os valores da linha 1 com iloc
df.iloc[0] = 0
df

      col1  col2  col3
lin1     0     0     0
lin2     4     5     6
lin3     7     8     9
lin4    10    11    12

In [21]:
#Substituindo os valores da linha 1 com loc
df.loc['lin1'] = 5
df

      col1  col2  col3
lin1     5     5     5
lin2     4     5     6
lin3     7     8     9
lin4    10    11    12

In [22]:
#Substituindo os valores da linha 3 para negativos
df.iloc[2] = - df.iloc[2]
df

      col1  col2  col3
lin1     5     5     5
lin2     4     5     6
lin3    -7    -8    -9
lin4    10    11    12