In [1]:
import pandas as pd

In [3]:
dados = [['ola', 'bem', 'vindos'], ['ao', 'programe', 'python+'], ['aula', 'de', 'hoje'],
        ['filtros', 'pandas', 'python']]
df = pd.DataFrame(dados, columns=['col1', 'col2', 'col3'])
df

      col1      col2     col3
0      ola       bem   vindos
1       ao  programe  python+
2     aula        de     hoje
3  filtros    pandas   python

In [4]:
#Filtro por valor exato
df[df['col1'] == 'ola']

  col1 col2    col3
0  ola  bem  vindos

In [7]:
#Função isin
df[df['col3'].isin(['python'])]

      col1    col2    col3
3  filtros  pandas  python

In [8]:
df[df['col3'].isin(['python', 'python+'])]

      col1      col2     col3
1       ao  programe  python+
3  filtros    pandas   python

In [12]:
#Função str usando o len, tráz o comprimento das palavras
df[df['col3'].str.len() > 4]

      col1      col2     col3
0      ola       bem   vindos
1       ao  programe  python+
3  filtros    pandas   python

In [13]:
df[df['col3'].str.contains('python')]

      col1      col2     col3
1       ao  programe  python+
3  filtros    pandas   python

In [21]:
#Filtrando só um pedaço da palavra
df[df['col2'].str.contains('me')]

  col1      col2     col3
1   ao  programe  python+

In [23]:
#Filtrando só um pedaço da palavra
df[df['col3'].str.contains('os|e')]

   col1 col2    col3
0   ola  bem  vindos
2  aula   de    hoje

In [24]:
#Filtrando só um pedaço da palavra
df[df['col3'].str.contains('os|e|\+')]

   col1      col2     col3
0   ola       bem   vindos
1    ao  programe  python+
2  aula        de     hoje