In [3]:
import pandas as pd

In [4]:
dados = [['ola', 'bem', 'vindos'], ['ao', 'programa', 'python+'], ['aula', 'de', 'hoje'], ['filtros', 'pandas', 'python']]
df = pd.DataFrame(dados,
                 columns=['col1', 'col2', 'col3'])
df

      col1      col2     col3
0      ola       bem   vindos
1       ao  programa  python+
2     aula        de     hoje
3  filtros    pandas   python

In [5]:
#Filtro por valor exato
df[df['col1'] == 'ola']

  col1 col2    col3
0  ola  bem  vindos

In [6]:
#Função isin
df[df['col3'].isin(['python', 'python+'])]

      col1      col2     col3
1       ao  programa  python+
3  filtros    pandas   python

In [7]:
df

      col1      col2     col3
0      ola       bem   vindos
1       ao  programa  python+
2     aula        de     hoje
3  filtros    pandas   python

In [8]:
#Export to Excel
df.to_excel (r'C:\Users\st1paulama\Desktop\export_dataframe.xlsx', index = False, header=True)

In [11]:
#Import to Excel
df = pd.read_excel (r'C:\Users\st1paulama\Desktop\export_dataframe.xlsx')
print (df)

      col1      col2     col3
0      ola       bem   vindos
1       ao  programa  python+
2     aula        de     hoje
3  filtros    pandas   python