In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(pd.date_range('20200101', periods=12), columns=['Data'])
df = df.astype(str)
df = df.replace('-', '', regex=True)
df

        Data
0   20200101
1   20200102
2   20200103
3   20200104
4   20200105
5   20200106
6   20200107
7   20200108
8   20200109
9   20200110
10  20200111
11  20200112

In [4]:
#Verificando o tipo 
df.dtypes

Data    object
dtype: object

In [5]:
#Utilizando a função astype
df['Data'].astype('datetime64')

0    2020-01-01
1    2020-01-02
2    2020-01-03
3    2020-01-04
4    2020-01-05
5    2020-01-06
6    2020-01-07
7    2020-01-08
8    2020-01-09
9    2020-01-10
10   2020-01-11
11   2020-01-12
Name: Data, dtype: datetime64[ns]

In [6]:
#Utilizando a função to_datetime
pd.to_datetime(df['Data'])

0    2020-01-01
1    2020-01-02
2    2020-01-03
3    2020-01-04
4    2020-01-05
5    2020-01-06
6    2020-01-07
7    2020-01-08
8    2020-01-09
9    2020-01-10
10   2020-01-11
11   2020-01-12
Name: Data, dtype: datetime64[ns]

In [9]:
#Indicando a posição do dia mês e ano
pd.to_datetime(df['Data'], format='%Y%d%m')

0    2020-01-01
1    2020-02-01
2    2020-03-01
3    2020-04-01
4    2020-05-01
5    2020-06-01
6    2020-07-01
7    2020-08-01
8    2020-09-01
9    2020-10-01
10   2020-11-01
11   2020-12-01
Name: Data, dtype: datetime64[ns]

In [10]:
pd.to_datetime('01/02/2021')

Timestamp('2021-01-02 00:00:00')

In [12]:
pd.to_datetime('01/02/2021', format='%d/%m/%Y')

Timestamp('2021-02-01 00:00:00')

In [13]:
pd.to_datetime('01/02/2021', dayfirst=True)

Timestamp('2021-02-01 00:00:00')

In [14]:
#Data sem horário
pd.to_datetime('01/02/2021', dayfirst=True).date()

datetime.date(2021, 2, 1)

In [18]:
df= pd.DataFrame(['15/10/2021','16/10/2021','17/10/2021','18/10/2021','19/10/2021',
                  '20/10/2021','21/10/2021','22/10/2021','23/10/2021','24/10/2021','25/10/2021',
                  '26/10/2021','27/10/2021','28/10/2021','29/10/2021','30/10/2021','31/10/2021',
                  '01/11/2021','02/11/2021','03/11/2021','04/11/2021','05/11/2021','06/11/2021',
                  '07/11/2021','08/11/2021','09/11/2021','10/11/2021'], columns=['Data'])
df

          Data
0   15/10/2021
1   16/10/2021
2   17/10/2021
3   18/10/2021
4   19/10/2021
5   20/10/2021
6   21/10/2021
7   22/10/2021
8   23/10/2021
9   24/10/2021
10  25/10/2021
11  26/10/2021
12  27/10/2021
13  28/10/2021
14  29/10/2021
15  30/10/2021
16  31/10/2021
17  01/11/2021
18  02/11/2021
19  03/11/2021
20  04/11/2021
21  05/11/2021
22  06/11/2021
23  07/11/2021
24  08/11/2021
25  09/11/2021
26  10/11/2021

In [20]:
pd.to_datetime(df['Data'], format='%d/%m/%Y')

0    2021-10-15
1    2021-10-16
2    2021-10-17
3    2021-10-18
4    2021-10-19
5    2021-10-20
6    2021-10-21
7    2021-10-22
8    2021-10-23
9    2021-10-24
10   2021-10-25
11   2021-10-26
12   2021-10-27
13   2021-10-28
14   2021-10-29
15   2021-10-30
16   2021-10-31
17   2021-11-01
18   2021-11-02
19   2021-11-03
20   2021-11-04
21   2021-11-05
22   2021-11-06
23   2021-11-07
24   2021-11-08
25   2021-11-09
26   2021-11-10
Name: Data, dtype: datetime64[ns]

In [22]:
#Atribuindo ao DF
df['Data'] = pd.to_datetime(df['Data'], format='%d/%m/%Y')
df

         Data
0  2021-10-15
1  2021-10-16
2  2021-10-17
3  2021-10-18
4  2021-10-19
5  2021-10-20
6  2021-10-21
7  2021-10-22
8  2021-10-23
9  2021-10-24
10 2021-10-25
11 2021-10-26
12 2021-10-27
13 2021-10-28
14 2021-10-29
15 2021-10-30
16 2021-10-31
17 2021-11-01
18 2021-11-02
19 2021-11-03
20 2021-11-04
21 2021-11-05
22 2021-11-06
23 2021-11-07
24 2021-11-08
25 2021-11-09
26 2021-11-10