In [6]:
import pandas as pd

In [10]:
a = pd.read_csv('http://repositorio.dados.gov.br/sest/OI-Receita.csv', encoding='ISO-8859-1', sep=';')
a.head()

,Exercício,Grupo Cód.,Grupo,Cód. Empresa,Sigla Empresa,Fonte Mãe Código,Fonte Mãe,Fonte Cód.,Fonte,PLoa,...,Realizado até Mar,Realizado até Abr,Realizado até Mai,Realizado até Jun,Realizado até Jul,Realizado até Ago,Realizado até Set,Realizado até Out,Realizado até Nov,Realizado até Dez
0,Total,Total,Total,Total,Total,Total,Total,Total,Total,119.562.878.835,...,8010592242,11016626085,13634811473,16414566681,19458946344,22999268074,0,0,0,0
1,2019,40,DEMAIS EMPRESAS DO SPE,22208,Ceasaminas,61000000,Recursos Próprios,61100000,Geração Própria,1.750.000,...,373646,404815,416528,416528,416528,432528,0,0,0,0
2,2019,40,DEMAIS EMPRESAS DO SPE,22209,Casemg,61000000,Recursos Próprios,61100000,Geração Própria,966.700,...,0,0,0,0,0,0,0,0,0,0
3,2019,40,DEMAIS EMPRESAS DO SPE,22212,Ceagesp,61000000,Recursos Próprios,61100000,Geração Própria,59.219.000,...,143198,158101,177475,196789,252162,289714,0,0,0,0
4,2019,40,DEMAIS EMPRESAS DO SPE,24214,ECT,61000000,Recursos Próprios,61100000,Geração Própria,571.920.244,...,3932,20087068,25289907,25291907,52969041,59739083,0,0,0,0