In [9]:
import pandas as pd
import numpy as np

In [24]:
df = [[1.0, 1.0, 1.0], [2.0, 2.0, np.nan], [3.0, np.nan, np.nan], [np.nan, np.nan, np.nan]]
df = pd.DataFrame(dados, columns=['col1', 'col2', 'col3'])
df

   col1  col2  col3
0   1.0   1.0   1.0
1   2.0   2.0   NaN
2   3.0   NaN   NaN
3   NaN   NaN   NaN

In [27]:
#Exclui todas as linhas contendo NaN
df.dropna()

   col1  col2  col3
0   1.0   1.0   1.0

In [29]:
#Analisa linhas df.dropna(axis=0)
#Analisa colunas df.dropna(axis=1)
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [30]:
#Exclui linhas com todos os valores missing
df.dropna(how='all')

   col1  col2  col3
0   1.0   1.0   1.0
1   2.0   2.0   NaN
2   3.0   NaN   NaN

In [36]:
#Exclui oq n√£o tem pelo menos o valor passado
df.dropna(thresh=1)

   col1  col2  col3
0   1.0   1.0   1.0
1   2.0   2.0   NaN
2   3.0   NaN   NaN

In [42]:
#Recebe coluna 2 e exclui todas as linhas NaN
df.dropna(subset=['col2'])

   col1  col2  col3
0   1.0   1.0   1.0
1   2.0   2.0   NaN

In [46]:
#Analisa a linha
df.dropna(axis=1, subset=[0])

   col1  col2  col3
0   1.0   1.0   1.0
1   2.0   2.0   NaN
2   3.0   NaN   NaN
3   NaN   NaN   NaN