In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Arquivo3.xlsx')
df

        Data  Views do Blog
0 2008-06-21           1740
1 2008-06-22           1585
2 2008-06-23           2302
3 2008-06-24           1990
4 2008-06-25           1813
5 2008-06-26           1705
6 2008-06-27           2247
7 2008-06-28           2068
8 2008-06-29           2038
9 2008-06-30           1953

In [4]:
#Mostra a soma acumulativa linha 0 + 1 e sucessivamente
df['Views do Blog'].cumsum().head(10)

0     1740
1     3325
2     5627
3     7617
4     9430
5    11135
6    13382
7    15450
8    17488
9    19441
Name: Views do Blog, dtype: int64

In [ ]:
df.loc[3] = ['2008-06-24', np.nan]

In [ ]:
df['Views do Blog'].cumsum(skipna=False).head(10)

In [ ]:
df['Views do Blog'].cumsum(skipna=True).head(10)

In [ ]:
df['Views do Blog'].cummax().head(10)

In [5]:
#Retorna o aculmulativo do máximo
df['Views do Blog'].cummax().head(10)

0    1740
1    1740
2    2302
3    2302
4    2302
5    2302
6    2302
7    2302
8    2302
9    2302
Name: Views do Blog, dtype: int64

In [7]:
#Repete o valor até deixar de ser o menor
df['Views do Blog'].cummin().head(10)

0    1740
1    1585
2    1585
3    1585
4    1585
5    1585
6    1585
7    1585
8    1585
9    1585
Name: Views do Blog, dtype: int64

In [8]:
#Pega o valor da segunda linha linha e multiplica pelas anteriores
df['Views do Blog'].cumprod().head(10)

0                   1740
1                2757900
2             6348685800
3         12633884742000
4      22905233037246000
5    2159934181085326768
6    1878413513117172688
7   -7703854426402272192
8   -2276114281002302080
9     414130966505977216
Name: Views do Blog, dtype: int64