In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('detalhe_votacao_secao_2016_BRASIL.csv', encoding='ISO-8859-1', sep=';')
df

In [ ]:
#Coluna elevado ao quadrado
df['QT_VOTOS_LEGENDA'].apply(np.square)

In [ ]:
#Aplicando uma função personalizada
def quadrado(x: int) -> int:
    return x ** 2

df['QT_VOTOS_LEGENDA'].apply(quadrado)

In [ ]:
#Aplicando uma função lambda
df['QT_VOTOS_LEGENDA'].apply(lambda x: x**2)

In [ ]:
df = pd.DataFrame([[1,2, [1,2,3]], [3,4,[4,5,6]], [5,6,[7,8,9]]],
                  columns =['col1', 'col2', 'col3'])
df

In [ ]:
df['col3'].apply(lambda item:[x**2 if x==2 else x for x in item])

In [ ]:
#Aplicando funções com mais de um argumento
def soma(*args):
    return sum(args)

df['QT_VOTOS_NOMINAIS'].apply(soma, args=(1,2,3))

In [12]:
df = pd.DataFrame([[1,2, [1,2,3]], [3,4,[4,5,6]], [5,6,[7,8,9]]],
                  columns =['col1', 'col2', 'col3'])
df

   col1  col2       col3
0     1     2  [1, 2, 3]
1     3     4  [4, 5, 6]
2     5     6  [7, 8, 9]

In [6]:
#Aplicando funções lambda com list comprehension
df['col3'].apply(lambda item:[x**2 if x == 2 else x for x in item])

0    [1, 4, 3]
1    [4, 5, 6]
2    [7, 8, 9]
Name: col3, dtype: object

In [14]:
#Criando uma coluna para cada item da lista
df.apply(lambda x: x.col3, axis=1, result_type='expand')

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
#Dropando uma coluba
df = df.drop('col3', axis=1)
df

   col1  col2
0     1     2
1     3     4
2     5     6

In [8]:
#Aplicando o apply em todo o dataframe
df.apply(np.square)

   col1  col2
0     1     4
1     9    16
2    25    36

In [9]:
#Posui melhor desempelo
df.apply(np.square, raw=True)

   col1  col2
0     1     4
1     9    16
2    25    36

In [ ]:
df.apply(np.square, raw=False)

In [ ]:
#Apply entre colunas distintas
df.apply(lambda x: 'col1' if x.col1 > x.col2 else 'col2', axis=1)

In [ ]:
#Parâmetro result_type
df.apply(lambda x: 'col1' if x.col1 > x.col2 else 'col2', axis=1, result_type=None)

In [4]:
df.apply(lambda x: 'col1' if x.col1 > x.col2 else 'col2', axis=1, result_type='broadcast')

   col1  col2  col3
0  col2  col2  col2
1  col2  col2  col2
2  col2  col2  col2