In [1]:
import pandas as pd
import numpy as np

In [11]:
dados = [['exemplo', 'exemplo', np.NaN], [np.NaN, np.NaN, np.NaN], ['exemplo', np.NaN, np.NaN],
        ['teste', 'teste', np.NaN] ,  [np.NaN, np.NaN, np.NaN], ['exemplo', 'exemplo', np.NaN],
         ['exemplo', np.NaN, np.NaN], ['teste', 'teste', np.NaN], [np.NaN, np.NaN, np.NaN], ['exemplo', 'exemplo', np.NaN]]
df = pd.DataFrame (dados, columns =['col1','col2', 'col3'])
df

      col1     col2  col3
0  exemplo  exemplo   NaN
1      NaN      NaN   NaN
2  exemplo      NaN   NaN
3    teste    teste   NaN
4      NaN      NaN   NaN
5  exemplo  exemplo   NaN
6  exemplo      NaN   NaN
7    teste    teste   NaN
8      NaN      NaN   NaN
9  exemplo  exemplo   NaN

In [12]:
df.isnull()

    col1   col2  col3
0  False  False  True
1   True   True  True
2  False   True  True
3  False  False  True
4   True   True  True
5  False  False  True
6  False   True  True
7  False  False  True
8   True   True  True
9  False  False  True

In [14]:
df.isna()

    col1   col2  col3
0  False  False  True
1   True   True  True
2  False   True  True
3  False  False  True
4   True   True  True
5  False  False  True
6  False   True  True
7  False  False  True
8   True   True  True
9  False  False  True

In [15]:
df.isnull().sum()

col1     3
col2     5
col3    10
dtype: int64

In [17]:
#Mostra o tamanho do DF
df.shape

(10, 3)

In [18]:
#Mostra o tamanho do DF
len(df)

10

In [21]:
df.isnull().sum() / df.shape[0] * 100

col1     30.0
col2     50.0
col3    100.0
dtype: float64

In [23]:
#Verificando apenas uma coluna
(df['col1'].isnull().sum() / df.shape[0]) * 100

30.0

In [26]:
df['col1'].value_counts(dropna=False, normalize=True) * 100

exemplo    50.0
NaN        30.0
teste      20.0
Name: col1, dtype: float64