In [2]:
import numpy as np
import pandas as pd

In [13]:
#header=None| header=2 pois tem cabeçalho
#Caso ñ possui cabeçalho names=['col1, col'] recebe nome
pd.read_excel('Pasta1.xlsx', sheet_name='Planilha2', index_col=0)

      col2 col3
col1
a        g    m
b        h    n
c        i    o
d        j    p
e        k    q
f        l    r

In [15]:
pd.read_excel('Pasta1.xlsx', sheet_name='Planilha2', index_col=2)

     col1  col2
col3
m        a    g
n        b    h
o        c    i
p        d    j
q        e    k
r        f    l

In [18]:
df = pd.read_excel('Pasta1.xlsx', sheet_name='Planilha2', index_col=0)
df

      col2 col3
col1
a        g    m
b        h    n
c        i    o
d        j    p
e        k    q
f        l    r

In [23]:
#Salvando o Excel
#Para valores missing passa o na_rep
df.to_excel('teste.xlsx', sheet_name='Teste', na_rep='#N/A', header=True, index=False)