In [1]:
import pandas as pd

In [2]:
pd.Series
pd.DataFrame

pandas.core.frame.DataFrame

In [3]:
pd.Series(5)

0    5
dtype: int64

In [4]:
pd.Series([5, 4, 3, 2, 1])

0    5
1    4
2    3
3    2
4    1
dtype: int64

In [5]:
pd.DataFrame([5])

   0
0  5

In [6]:
pd.DataFrame([5, 4, 3, 2, 1])

   0
0  5
1  4
2  3
3  2
4  1

In [9]:
df = pd.DataFrame([(5, 'a'), (4, 'b'), (3, 'c'), (2, 'c'), (1, 'd')])
df

   0  1
0  5  a
1  4  b
2  3  c
3  2  c
4  1  d

In [10]:
df[0]

0    5
1    4
2    3
3    2
4    1
Name: 0, dtype: int64

In [16]:
a = pd.DataFrame([[5, 4, 3, 2, 1],
              ['a', 'b', 'c', 'd', 'e']])
a

   0  1  2  3  4
0  5  4  3  2  1
1  a  b  c  d  e

In [17]:
a[4]

0    1
1    e
Name: 4, dtype: object