In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame(np.random.randint(0, 20, (10,1)), columns=['coluna base'])
df

   coluna base
0            0
1            6
2           14
3           17
4           19
5            1
6            2
7           16
8           18
9           14

In [12]:
df['nova coluna'] = df['coluna base'].shift() - df['coluna base'].shift(-1)
df

   coluna base  nova coluna
0            0          NaN
1            6        -14.0
2           14        -11.0
3           17         -5.0
4           19         16.0
5            1         17.0
6            2        -15.0
7           16        -16.0
8           18          2.0
9           14          NaN

In [13]:
#Pandas Series deslocando colunas
df['coluna base'].shift()

0     NaN
1     0.0
2     6.0
3    14.0
4    17.0
5    19.0
6     1.0
7     2.0
8    16.0
9    18.0
Name: coluna base, dtype: float64

In [16]:
#Pandas Series deslocando colunas
df['coluna base'].shift(-1)

0     6.0
1    14.0
2    17.0
3    19.0
4     1.0
5     2.0
6    16.0
7    18.0
8    14.0
9     NaN
Name: coluna base, dtype: float64

In [18]:
#Pandas Series deslocando colunas
df['coluna base'].shift(2)

0     NaN
1     NaN
2     0.0
3     6.0
4    14.0
5    17.0
6    19.0
7     1.0
8     2.0
9    16.0
Name: coluna base, dtype: float64

In [19]:
#Preenchendo valores missing
df['coluna base'].shift(-2, fill_value='oi')

0    14
1    17
2    19
3     1
4     2
5    16
6    18
7    14
8    oi
9    oi
Name: coluna base, dtype: object

In [32]:
df['nova coluna'] = df['coluna base'].shift() - df['coluna base'].shift(-1)
df

   coluna base  nova coluna
0            0          NaN
1            6        -14.0
2           14        -11.0
3           17         -5.0
4           19         16.0
5            1         17.0
6            2        -15.0
7           16        -16.0
8           18          2.0
9           14          NaN

In [33]:
df.loc[df['nova coluna'] < 0, 'nova coluna'] = -1
df.loc[df['nova coluna'] > 0, 'nova coluna'] = 1
df.loc[df['nova coluna'] == 0, 'nova coluna'] = 0
df['nova coluna'].replace({-1:'de baixo é maior', 1:'de cima é maior', 0:'iguais'}, inplace=True)
df

   coluna base       nova coluna
0            0               NaN
1            6  de baixo é maior
2           14  de baixo é maior
3           17  de baixo é maior
4           19   de cima é maior
5            1   de cima é maior
6            2  de baixo é maior
7           16  de baixo é maior
8           18   de cima é maior
9           14               NaN