In [8]:
import pandas as pd
import numpy as np

In [11]:
dados = [[7, 16.0, 'exemplo'], [4, 2.0, 'teste'], [19, 8.0, 'exemplo'],
        [12, 14.0, 'teste'], [5, np.NaN, 'exemplo'], [10, 19.0, 'exemplo'],
         [16, 16.0, 'exemplo'], [5, 9.0, 'teste'], [19, np.NaN, np.NaN], [2, 11.0, 'exemplo']]
df = pd.DataFrame (dados, columns =['col1','col2', 'col3'])
df

   col1  col2     col3
0     7  16.0  exemplo
1     4   2.0    teste
2    19   8.0  exemplo
3    12  14.0    teste
4     5   NaN  exemplo
5    10  19.0  exemplo
6    16  16.0  exemplo
7     5   9.0    teste
8    19   NaN      NaN
9     2  11.0  exemplo

In [13]:
df['col3'].value_counts()

exemplo    6
teste      3
Name: col3, dtype: int64

In [15]:
df['col3'].value_counts(dropna=False)

exemplo    6
teste      3
NaN        1
Name: col3, dtype: int64

In [17]:
#Ordenando valores
df['col3'].value_counts(dropna=False, sort=True, ascending=True)

NaN        1
teste      3
exemplo    6
Name: col3, dtype: int64

In [18]:
#Mostrando valores em porcentagem
df['col3'].value_counts(dropna=False, normalize=True)

exemplo    0.6
teste      0.3
NaN        0.1
Name: col3, dtype: float64

In [19]:
df['col3'].value_counts(dropna=False, normalize=True) * 100

exemplo    60.0
teste      30.0
NaN        10.0
Name: col3, dtype: float64

In [20]:
df['col1'].value_counts(dropna=False)

5     2
19    2
12    1
10    1
7     1
4     1
2     1
16    1
Name: col1, dtype: int64

In [23]:
#bins divide os valores
df['col1'].value_counts(bins=3)

(1.9820000000000002, 7.667]    5
(13.333, 19.0]                 3
(7.667, 13.333]                2
Name: col1, dtype: int64

In [26]:
pd.cut(df['col1'], 3)

0     (1.983, 7.667]
1     (1.983, 7.667]
2     (13.333, 19.0]
3    (7.667, 13.333]
4     (1.983, 7.667]
5    (7.667, 13.333]
6     (13.333, 19.0]
7     (1.983, 7.667]
8     (13.333, 19.0]
9     (1.983, 7.667]
Name: col1, dtype: category
Categories (3, interval[float64]): [(1.983, 7.667] < (7.667, 13.333] < (13.333, 19.0]]

In [27]:
pd.cut(df['col1'], 3).value_counts()

(1.983, 7.667]     5
(13.333, 19.0]     3
(7.667, 13.333]    2
Name: col1, dtype: int64